<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      width: 100%;
      height: 100%;
    }

    #Formlogin {

      width: 20%;
      margin: auto;
    }

    #Formchat {
      margin: auto;
      width: 1000px;
      height: 500px;
    }

    #roomht {
      width: 40%;
      float: left;
      border: 2px red;
    }

    #usernamem {
      width: 40%;
      float: right;
      border: 2px gray;
    }

    #Formusername-online {
      width: 30%;
      float: left;
      background-color: sandybrown;
      height: 700px;
      overflow: auto;
      border: double 2px red;
    }

    #rU {
      width: 100%;
      height: 100px;
      border: 2px yellow;
    }

    #chat {
      width: 65%;
      float: right;
      padding: 20px;
      background-color: snow;
      min-height: 500px;
      border: double 2px red;
    }

    #usernamem {
      text-align: right;
    }

    #noidung {
      overflow: auto;
    }

    #msg {
      width: 80%;

      margin-top: 500px;
      margin: auto;
    }

    #msgt {
      margin-top: 500px;
    }
  </style>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../public/css.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script>
    var socket = io("http://localhost:3000");
    socket.on("Server-tao-thatbai", function () {
      alert("User đã tồn tại");
    });
    socket.on("Server-send-data-room", function (data) {
      $("#noidung").append(data.un + ":" + data.nd + `<br>`);
    })
   
    socket.on("ai-dang-go-chu", function (data) {
      $("#dangnhaptn").html(data + '<img src="/img/dangnhan.gif" alt="" width="40px" height="20px">');
    });
    socket.on("ai-dang-ngung-go-chu", function (data) {
      $("#dangnhaptn").html("");
    });
    socket.on("Server-tao-thanhcong", function (data) {
      $("#usernamem").html('<h3>Tên người dùng </h3>' + data);
      $("#Formlogin").hide(2000);
      $("#Formchat").show(1000);
    });

    socket.on("Server-danhsach-listUser", function (data) {
      $("#dsusername").html("");
      data.forEach(function (i) {
        $("#dsusername").append("<div class='user'>" + i + "</div>");
      });
    });
    socket.on("Server-send-all-room", function (data) {

      $("#dsroom").html("");
      data.forEach(function (r) {
        $("#dsroom").append("<div class='roomm'>" + r + "</div>");
      });
    });
    socket.on("Server-send-room-ht", function (data) {
      $("#roomht").html("<h3> Phòng </h3>" + data);
    })
    // socket.on("Server-send-data", function (data) {
    //   $("#noidung").append(data.un + ":" + data.nd + `<br>`);
    // });

    $(document).ready(function () {
      $("#Formlogin").show();
      $("#Formchat").hide();

      $("#btnusername").click(function () {
        socket.emit("Client-tao-data", $("#username").val());
      });
      $("#msgt").focusin(function () {
        socket.emit("Dang-nhap-tin-nhan");
      });
      $("#msgt").focusout(function () {
        socket.emit("Ngung-nhap-tin-nhan");
      });

      // $("#btnmsg").click(function (err) {
      //   socket.emit("Client-send-data", $("#msgt").val());

      // });
      $("#btnmsg").click(function (err) {
        socket.emit("User-send-data-room", $("#msgt").val());

      });
      $("#logout").click(function () {
        socket.emit("User-logout");
        $("#Formlogin").show();
      $("#Formchat").hide();
      });
     
      $("#btnnameroom").click(function () {
        socket.emit("tao-room", $("#nameroom").val());
     
      })
    });

  </script>
</head>

<body>
  <div>

  </div>
  <div id="main">
    <!----------- form login-------------->
    <div id="Formlogin">
      <strong>What up Name Bro??</strong>
      <input type="text" id="username" />
      <button type="submit" id="btnusername">Gửi</button>
    </div>
    <!------------------------------------>
    <!-------------- chat--------------------->
    <div id="Formchat">
      <div id="Formusername-online">
        <div id="taoroom">
          <h4>Tạo room</h4>
          <input type="text" id="nameroom" />
      
          <button type="submit" id="btnnameroom">tạo room</button>
        </div>
        <strong> Người liên hệ</strong>
        <div id="dsusername"></div>
        <br>
        <br>
        <h3>Danh sách room</h3>
        <div id="dsroom">

        </div>
      </div>
      <div id="chat">
        <div id="rU">
          <div id="roomht">

          </div>
          <div id="usernamem">
            
          </div>
          <input type="submit" id="logout" value="Logout">
        </div>

        <hr />
        <div id="noidung"></div>
        <div id="dangnhaptn">

        </div>

        <div id="msg">

          <input type="text" id="msgt" />

          <button type="submit" id="btnmsg">Gửi</button>
        </div>
      </div>
    </div>
    <!---------------------------------->
  </div>
</body>

</html>